.projectGenerator {
  display        : flex;
  flex-direction : column;
  justify-content: center;
  user-select    : none;
  margin-top     : 3rem;
}

.title {
  display        : flex;
  flex-direction : column;
  justify-content: center;
  align-items    : center;
  height         : 200px;
  overflow       : hidden;
}

.projectName {
  text-align   : center;
  font-size    : 4.5rem;
  line-height  : 4.5rem;
  margin-bottom: 0;
  width        : fit-content;
}

@media (max-width: 768px) {
  .projectName {
    font-size  : 3.2rem;
    line-height: 3.2rem;
  }
}

@media (max-width: 576px) {
  .projectName {
    font-size  : 2.2rem;
    line-height: 2.2rem;
  }
}

.projectSubName {
  text-align   : center;
  font-size    : 1.5rem;
  line-height  : 1.5rem;
  width        : fit-content;
  margin-bottom: 0;
}

@media (max-width: 576px) {
  .projectSubName {
    font-size  : 1.2rem;
    line-height: 1.2rem;
  }
}

.zombie {
  width: 100%;
}